html,
body {
    background: white;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
<<<<<<< HEAD
    overflow-x: hidden;

=======
    overflow-x: hidden; 
>>>>>>> 39d3d77d100f0f4df052eee482244bce898c05d1
}
