
<footer>
  <div class="wrapper">
    <div class="logo">
    <a class="M2_Logo" href="#M2Logo"><svg class="M2_svg"><use xlink:href="#M2Logo"></use></svg></a>
      </div>
<h4>
  444 East Second Street Dayton, Ohio 45402 <br/>
 Copyright by Mile Two LLC 2017. All rights reserved.
</h4>
<!--SOCIAL SPRITES-->
<div class="fIcons">
<a class="fa" href="#"><svg>
  <use xlink:href="#facebook"></use>
</svg></a>
<a class="fa" href="#"><svg>
  <use xlink:href="#linkedin"></use>
</svg></a>
<a class="fa" href="#"><svg>
  <use xlink:href="#twitter"></use>
</svg></a>
<a class="fa" href="#"><svg>
  <use xlink:href="#envelope"></use>
</svg></a>
</div>
</div>

</footer>
