<footer>
  <div class="logo">
    <svg class="M2_svg"><use xlink:href="#M2LogoFooter"></use></svg>
  </div>
  <div class="wrapper">
      <div class="footer_text">
        <p>444 East Second Street Dayton, Ohio 45402</p>
        <p class="copyright">Copyright &copy by Mile Two LLC 2017. All rights reserved.</p>
      </div>
      <!--SOCIAL SPRITES-->
      <div class="fIcons">
        <a class="fa" href="#"><svg><use xlink:href="#facebook"></use></svg></a>
        <a class="fa" href="#"><svg><use xlink:href="#linkedin"></use></svg></a>
        <a class="fa" href="#"><svg><use xlink:href="#twitter"></use></svg></a>
        <a class="fa" href="#"><svg><use xlink:href="#envelope"></use></svg></a>
      </div>
    </div>
</footer>
