<header>
    <div class="logo">
        <a class="M2_Logo" href="/index.html"><svg class="M2_svg"><use xlink:href="#M2Logo"></use></svg></a>
        <a class="box-shadow-menu-wrap" href="/navigation.html"><div class="box-shadow-menu"></div></a>
    </div>
    <div class="header_Info">
      <h1 class="slogan">{% if page.slogan %}{{ page.slogan }}{% else %}{{ site.slogan }}{% endif %}</h1>
      <a href="mailto:info@miletwo.us"><button class="header_button">CONTACT US</button></a>
    <div>
</header>
