<div class="our_work">
  <h1 class="module">OUR WORK</h1>
  <svg class="backgroundSVG"><use xlink:href="#backgroundSVG"></use></svg>

  <div class="img_group1">
    <div class="work_intro">
       <h3>Project #1</h3>
       <p>You could sit here for weeks with your one hair brush trying to do that - or you could do it with one stroke with an almighty brush. <a href="#"> Click Here</a></p>
    </div>
    <div class="work_framedImage">
      <img src="/img/cell_one.png"/>
   </div>
 </div>

  <div class="img_group2">
    <img src="/img/cell_two.png"/>
    <div class="work_intro">
        <h3>Project #2</h3>
        <p>We'll play with clouds today. We wash our brush with odorless thinner. Exercising the imagination, experimenting with talents, being creative.<a href="#"> Click Here</a></p>
    </div>
  </div>

  <div class="img_group3">
    <div class="work_framedImage3">
        <img src="/img/cell_three.png"/>
        <div class="work_intro">
            <h3>Project #3</h3>
            <p>Just beat the devil out of it. You are only limited by your imagination. Here's something that's fun. The first step to doing anything is to believe you can do it.<a href="#"> Click Here</a></p>
        </div>
    </div>
  </div>
</div>
