<div class="services_sec">
    <h1 class="serv_h1">SERVICES</h1>
    <div class="slideshow_container">
      <div class="servSlideshow">
          <h2 class="serv_h2">DEVELOPMENT</h2>
          <p class="serv_p">Brown is such a nice color. We have all at one time or another mixed some mud. I'm going to mix up a little color. We’ll use Van Dyke Brown, Permanent Red, and a little bit of Prussian Blue.</p>
      </div>
      <div class="servSlideshow">
          <h2 class="serv_h2">APPLIED RESEARCH</h2>
          <p class="serv_p">I guess I'm a little weird. I like to talk to trees and animals. That's okay though; I have more fun than most people. Only eight colors that you need. Let your heart take you to wherever you want to be.</p>
      </div>
      <div class="servSlideshow">
          <h2 class="serv_h2">CONSULTING</h2>
          <p class="serv_p">And just raise cain. Very easy to work these to death. You can do anything your heart can imagine. This piece of canvas is your world. Just take out whatever you don't want. It'll change your entire perspective.</p>
      </div>
      <div class="servSlideshow">
          <h2 class="serv_h2">TASK ANALYSIS</h2>
          <p class="serv_p">This painting comes right out of your heart. Now then, let's play. This is a happy place, little squirrels live here and play. You need the dark in order to show the light. Mix your color marbly don't mix it dead. We'll play with clouds today.</p>
      </div>
    </div>
</div>
