<div>
  <h1>OUR VALUES</h1>
  <div class="our_values slideshow_container">
      <div class="slide">
            <svg><use xlink:href="#innovation"></use></svg>
            <h3>Innovation</h3>
            <p>We think that there’s no problem we can’t solve with equal parts of intelligence and creativity. We build business tools by using novel and divergent thinking. We use the most cutting-edge technologies to create the optimal team of the human and machine.</p>
      </div>
      <div class="slide">
           <svg><use xlink:href="#customization"></use> </svg>
           <h3>Customization</h3>
           <p>There are no one-size-fits-all solutions out there. Business tools should be built the way you work rather than the way we work. But don’t worry... “custom” does not have to mean “outrageously expensive.”</p>
      </div>
      <div class="slide">
          <svg><use xlink:href="#hcd"></use></svg>
          <h3>Human-centered Design</h3>
          <p>We have decades of experience in web, mobile, design, as well as a deep understanding of how people work. This makes us able to deliver excellent and efficient products that allow real people to use technology to meet their goals.</p>
      </div>
  </div>
</div>
