<div class="team">
    <div class="team_gallery slider">
      <a class="team_img" href=""><img src="/img/ppl_holder.png"/></a>
      <a class="team_img" href=""><img src="/img/ppl_holder.png"/></a>
      <a class="team_img" href=""><img src="/img/ppl_holder.png"/></a>
      <a class="team_img" href=""><img src="/img/ppl_holder.png"/></a>
    </div>
    <div class="team_title">
      <a href="/team.html" class="meet_the_team"><h1>MEET THE TEAM</h1></a>
      <a href="mailto:info@miletwo.us"><button class="contact_button">CONTACT US</button></a>
    </div>
</div>
