<div class="our_work">
  <svg class="homepage_background" viewBox="0 0 1366 4333" width="100%" height="100%" preserveAspectRatio="none"><use xlink:href="#homepage_background"></use></svg>
  <div class="workContent">
      <h1 class="ourWorkTitle animation-element">OUR WORK</h1>
      <div class="work_group animation-element">
        <div class="work_intro">
           <h3>Tnebula</h3>
           <p>We built a mobile-first web application that allows investors, innovators, and entrepreneurs to connect around cutting-edge research. <a href="#"> Click Here</a></p>
        </div>
        <img class="workImg_vertical_phone" src="/img/Tnebula_screen_1.png"/>
     </div>

      <div class="work_group animation-element">
        <div class="work_intro">
            <h3>KD</h3>
            <p>We'll play with clouds today. We wash our brush with odorless thinner. Exercising the imagination, experimenting with talents, being creative.<a href="#"> Click Here</a></p>
        </div>
        <img class="workImg_laptop" src="/img/KD_screen_1.png"/>
      </div>

      <div class="work_group animation-element">
        <div class="work_intro">
            <h3>Cvdi</h3>
            <p>We built a single page application to help doctors and patients visualize how a variety of factors impact cardiovascular health.<a href="#"> Click Here</a></p>
        </div>
        <img class="workImg_laptop" src="/img/Cvdi_screen.png"/>
      </div>
  </div>
</div>
