---
layout: front
slogan: Project #1
title: Project Name Here
permalink: /case.html/
---
<div class="content">
  <div class="intro">
    <p>
      Let's do it again then, what the heck. I thought today we would make a happy little stream that's just running through the woods here. I sincerely wish for you every possible joy life could bring. Let your heart be your guide. And just raise cain. If we're going to have animals around we all have to be concerned about them and take care of them.
    </p>
  </div>
  <div class="body">
<svg class="case_background"><use xlink:href="#case_background" viewBox="0 0 1366 4725.3" width="100%" height="100%" preserveAspectRatio="none"></use></svg>
<div class="details">
  <h1>THE TECHNICALS</h1>
  <div class="specs">
    <h2>CLIENT</h2>
    <p>
      The client wanted something.
    </p>
  </div>
  <div class="specs">
    <h2>TECHNOLOGY</h2>
    <ul>
      <li>
        Technology 1
      </li>
      <li>
        Technology 2
      </li>
      <li>
        Technology 3
      </li>
    </ul>
  </div>
  <div class="specs">
    <h2>DEVELOPMENT</h2>
    <ul>
      <li>
        Prototyping
      </li>
      <li>
        Frontend
      </li>
      <li>
        Backend Systems
      </li>
    </ul>
  </div>
</div>
  <div class="phone wall">
    <img src="/img/cell_two.png"/>
  </div>
  <div>
    <p class="style">
      If you overwork it you become a cloud killer. There's nothing worse than a cloud killer. Let's have a nice tree right here. Put your feelings into it, your heart, it's your world. Put it in, leave it alone. Everybody's different. Trees are different. Let them all be individuals.
    </p>
  </div>
<img src="/img/placeholder.jpg" />
<div class="group">
  <img src="/img/cell_one.png" />
  <p class="style">
    That's why I paint - because I can create the kind of world I want - and I can make this world as happy as I want it. Little trees and bushes grow however makes them happy. This is your creation - and it's just as unique and special as you are.
  </p>
</div>
<img src="/img/cell_two.png" />
<!-- BEGIN "PREVIEW SECTION" for next project that would link to next project page-->
<div class="group">
<h2>Project #2</h2>
<p class="style">
  Fluff it up a little and hypnotize it. Let's do that again. At home you have unlimited time.
</p>
</div>
<div class="buttons">
  <button class="contact_button">OUR WORK</button>
  <button class="contact_button">HOME</button>
</div>

</div>
</div>
