<!DOCTYPE html>
<html>

 {% include head.html %}

    <body>
        {% include svgsprites.html %}
        {% include svgStructures.html %}

        {% include header.html %}

        <main>
            {{ content }}
            <script type="text/javascript" src="scripts/myscripts.js" ></script>
            <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
            <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
            <script type="text/javascript" src="node_modules/slick/slick.min.js"></script>
        </main>

        {% include footer.html %}
        {% include analytics.html %}
    </body>

</html>
