---
layout: front
---
<div class="personal_slider">
  {% for teamMember in site.team %}
  <div class="page_person">
      <div class="top_area">
          <div class="person_info">
              <h2 class="person_name">{{teamMember.name}}</h2>
              <p class="person_title">{{teamMember.title}}</p>
          </div>
          <div class="image_wrap">
            <img class="person_img" src="/img/teamImgs/{{teamMember.image}}" />
          </div>
      </div>
      <div class="person_bio">
        {{ teamMember.content }}
      </div>
      {% endfor %}
  </div>
</div>
