//Base Styles
main {
    background: $clr-gray-95;
    color: $clr-gray-15;
}

.content {
    // margin: 0 auto;
    // max-width: $desktop-width;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Open sans', sans-serif;
    }
}

//Index Page Styles

$gradient-transparency: 0.17;

button.contact_button {
  background-color: $clr-drk-green;
  border-radius: 8px;
  color: white;
  line-height: 0.5;
  padding: 1.5rem;
  margin: auto;
}

.services_sec {
  background-image: linear-gradient(
                to bottom,
                transparentize(saturate($clr-drk-green, 100%), $gradient-transparency) 0%,
                transparentize(saturate($clr-drk-green, 100%), $gradient-transparency) 100%
                ), url("img/services_bkg.png");
  background-size: cover;

  h1.serv_h1 {
    color: white;
    font-size: 3rem;
    font-weight: bolder;
    padding-top: 3rem;
    text-align: center;
    margin: auto;
  }

  h2.serv_h2 {
  color: $clr-light-green;
  margin: auto;
  padding: 0.5em;
  text-align: center;
  }

  p.serv_p {
    color: white;
    margin: auto;
    width: 100%;
    text-align: center;
    padding: 2rem;
  }

  .slideshow_container {
    margin: auto;
    padding-bottom: 2rem;

    @include media($tablet) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    @include media($desktop) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}



.body_wrapper {
  width: 90%;
  margin: auto;
}
.our_work{
  h1 {
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
  }

  h3, p {
    text-align: left;
  }

}
