//Base Styles
main {
    background: $clr-gray-95;
    color: $clr-gray-15;
//  padding: 1.0em;
    padding-bottom: 3.0em;
}

.content {
    margin: 0 auto;
    max-width: $desktop-width;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Open sans', sans-serif;
        text-align: center;
        @include media($desktop) {
            text-align: left;

        }
    }
}

//Index Page Styles
.wrapper {
  width: 100%;
  padding: 1em;
}
.landing_sec{

  margin: auto;
  padding: .2em;
  display: block;
}

.button {
  background-color: $clr-drk-green;
  color: white;
  padding: .5em;
  border-radius: 8px;
  display: flex;
  margin: auto;
}

.services_sec {
  background-color: $clr-drk-green;
  width: 100%;
  h1 {
    color: white;
    font-weight: bolder;
  }
  h2 {
  color: $clr-light-green;
  }
  .frame {
    height: 150px;
    width: 150px;
    margin: auto;
    border: 1px solid red;
  border-radius: 50%;
  background-color: white;
}
}

.our_work_sec {
  color: black;
  h2 {
    font-weight: bold;
    text-align: left;
  }
}
