footer {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  background-color: $clr-drk-blue;
  padding: 1em;
  color: white;
  text-align: center;

.wrapper {
 max-width: 80%;
 margin: auto;
 h4 {
   margin: auto;
 }

  .logo {
    .M2_svg {
      fill: $clr-drk-green;
      width: 100%;

    }
  }

  .fIcons {
    display: inline-flex;
    max-width: 25%;
    max-height: 25%;
    margin: auto;

    svg {
      fill: $clr-light-blue;
    }
  }
}
}
