footer {
  clear:both;
  background-color: $clr-drk-blue;
  padding: 1em;
.wrapper {
  width: 70%;
  margin: auto;
  h4 {
    font-family: 'Open sans', sans-serif;
    color: white;
    text-align: center;
    font-size: 12pt;
    font-weight: lighter;
  }


  .logo {

    .M2_svg {
      fill: $clr-drk-green;
      width: 100%;
    }
  }

  .fIcons {
    width: 80%;
    margin: auto;


    .fa {
      display: inline-flex;
      width: 40px;
      height: 40px;
    }

    svg {
      fill: $clr-light-blue;

    }
  }

  @include media($tablet) {
   h4{
    text-align: left;
  }
  }
  @include media($desktop) {
    h4 {
    text-align: left;
  }
  }


}
}
