.background {
  display: flex;
  position: absolute;
  border: 5px solid pink;
}

.services_page {
  position: relative;

  .services_sec {
    position: relative;

    .container svg {
      fill: $clr-white;
    }
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    text-align: center;
  }

  .body {
    max-width: 80%;
    margin: auto;
    .processes{
      padding: 10em 0 7.8em 0;
      max-width: 80%;
      margin:auto;
      text-align:left;
      border: 1px solid red;
    }

    h1 {
      margin: 0;
      padding: 1em;
      text-align: center;
    }
    position: relative;
    width: 100%;
    text-align: center;
    img {
      max-width: 80%;

    }


  }
}
