.team {

  .team_gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    a.team_img {
      margin: auto;
      padding: 0.5em;
    }

    a.team_img:hover img {
      opacity: 0.5;
    }

  }

  .team_title {
    padding: 2em;

    .meet_the_team {
      h1 {
        color: $clr-drk-blue;
        justify-content: center;
        text-align: center;
        position: relative;
      }
    }

    .meet_the_team:hover {
      h1 {
        color: $clr-light-green;
        transition: all 1s ease;
      }
    }

    button.contact_button {
      background-color: $clr-drk-green;
      border-radius: 8px;
      color: white;
      line-height: 0.5;
      margin: auto;
      padding: 1.5rem;
      display: flex;
      justify-content: center;
    }
  }
}
