.team {

  .team_gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: 10px solid red;

    @include media($tablet) {

    }
    @include media($desktop) {

    }

    a.team_img {
      margin: auto;
      padding: 0.5em;
    }

    a.team_img:hover img {
      opacity: 0.5;
    }

  }

  .team_title {
    padding: 2em;

    h1 {
      text-align: center;
      justify-content: center;
      position: relative;
    }

    button.contact_button {
      background-color: $clr-drk-green;
      border-radius: 8px;
      color: white;
      line-height: 0.5;
      margin: auto;
      padding: 1.5rem;
      display: flex;
      justify-content: center;
    }
  }
}
