@keyframes teamNamesAnimation {
  to {
    transform: translateX(0);
  }
}

.slick-slide {
  &:focus {
    outline: none;
  }
}

.complete_team {
  background-color: $clr-white;
  margin-top: 3rem;
  @include media($tablet) {
    display: flex;
    flex-wrap: wrap;
  }
  @include media($desktop) {
    display: flex;
    flex-wrap: wrap;
  }

  .teamMember {
    display: flex;
    flex: 1 0 auto;
    height: 100%;
    padding-left: 2.2rem;
    position: relative;
    width: 100vh;

    .name_person {
      display: flex;
      align-items: center;
      // margin-right: 6rem;
      top:30%;
      position: absolute;

      h3 {
        transform: translateX(150px);
        animation: come-in 0.8s ease forwards;
        padding: 0.5em;
      }

      .line_person {
        transform: translateX(150px);
        animation: come-in 0.8s ease forwards;
        background-color: $clr-drk-blue;
        height: 2px;
        width: 50px;
      }

      .image_person {
        // padding-left: 2rem;
      }
    }
  }
}
