@mixin backImage($imagePath) {
  background-image: url($imagePath);
  background-size: cover;
}

.intro {
  @include backImage("/img/shapes_pattern.png");
  background-color: $clr-drk-green;
  color: $clr-white;
  padding: 2.5em;
  width: 100%;
}

.case_background {
  position: absolute;
  width: 100%;
  height: 100%;
}

.body {
  position: relative;

  h1 {
    width: 100%;
    text-align: center;
  }

  img {
    width: 100%;
  }

  p.style {
    max-width: 60%;
    padding: 4em;
    margin: auto;
  }

  li {
    list-style-type: none;
  }

  .details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

    .specs {
      text-align: center;
      margin: 4em;

      ul {
        padding: 0;
      }

      li {
        text-align: center;
      }

      h2 {
        font-weight: 900;
      }
    }
  }

  .group {
    text-align: left;
    width: 100%;
    display: flex;

    .wrapper {
      display: flex;
      margin: auto;
      width: 70%;
    }

    h2 {
      padding: 3em;
    }

    img {
      width: 353px;
      height: 644px;
    }
  }

  .break {
    max-height: 500px;
    width: 70%;
  }

  .buttons {
    display: flex;

padding: 5em;
justify-content: space-between;

    button.contact_button {
      background-color: $clr-drk-green;
      border-radius: 8px;
      color: white;
      line-height: 0.5;
      margin: auto;
      padding: 1.5rem;
      display: inline-flex;
      justify-content: space-between;
    }
  }

  .phone_wall {
    display: inline-flex;
    width: 100%;

    img:nth-of-type(2) {
      transform: scaleX(-1);
    }
  }
}
