---
layout: front
---
<div class="content">

    <div class="services module">
      {% include services.html %}
    </div>
    <div class="work module">
      {% include _work.html %}
    </div>
    <div class="team_gallery module">
      <svg class="left_8"><use xlink:href="#crystal_8"></use></svg>
      <svg class="center_9"><use xlink:href="#crystal_9"></use></svg>
      <svg class="right_10"><use xlink:href="#crystal_10"></use></svg>
    </div>
    <div class="meet_the_team">
        <div class="team_sec">
          <h1>MEET THE TEAM</h1>
          <button class="contact_button">CONTACT US</button>
        </div>
        <svg><use xlink:href="#lowest_Crystal"></use></svg>

    <div class="services">
      {% include services.html %}
    </div>
    <div class="work">
      {% include work.html %}
    </div>
    <div class="team">
      {% include team.html %}
    </div>

</div>
