---
layout: front
slogan: Meet the Team
title: Mile Two / Meet The Team
permalink: /team.html/
---

<div class="content">
  <div class="teamImages">
    {% include teamSlider.html %}
  </div>
  <div class="manifesto">
    <h1>MANIFESTO</h1>
    <p>You create the dream - then you bring it into your world. You better get your coat out, this is going to be a cold painting. This is the time to get out all your flustrations, much better than kicking the dog around the house or taking it out on your
      spouse. Don't kill all your dark areas - you need them to show the light. You can create beautiful things - but you have to see them in your mind first. You have freedom here. The only guide is your heart.</p>
  </div>
  <svg class="team_background" viewBox="0 0 1366 2248"><use xlink:href="#meet_team_background"></use></svg>
  <div class="team_info">
    <div class="values">
      {% include teamInfoComp.html %}
    </div>
    <div class="benefits">
      <h1>BENEFITS SUMMARY</h1>
      <p>Doing great work is at the heart of what we do, and we feel strongly that our team members are at their best when they work in an environment that supports their professional AND personal needs. In addition to providing ample PTO, we offer a highly competitive benefits package, the majority of which is at zero cost to our employees. Despite being a smaller company, we strive to offer our team all the benefits of working for a larger organization. This comprehensive package includes medical, dental, vision, life and disability insurance, as well as, a 401k plan with a company match. Our flexible and casual work environment encourages our employees to have a positive work-life balance while doing interesting work in a dynamic organizational climate.</p>
    </div>
    <div class="join">
      <h1>JOIN THE FUN</h1>
      <p>We are a growing team of energetic problem-solvers and technologists. Located in the innovation district in Dayton, Ohio, our workplace encourages discussion and divergent thinking. We foster vibrant connections between our team, our community, and our clients. Stop by to meet our team and learn more about our work.</p>
      <button class="contact_button">CONTACT US</button>
    </div>
  </div>
</div>
